body{
    background-image:url(83-838296_web-designer-professional-website-background-images.jpg);
    
    
}
.b1{
    text-align: center;
    
       
    margin-right: 500px;
    margin-left: 500px;


}
.b2{
    text-align: center;
    
       
    margin-right: 500px;
    margin-left: 500px;


}
form{
    
    text-align: center;
    margin: 250px 500px 250px 500px;
    
}